@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  @apply font-body;
}

/* ======= TAILWIND STYLES ======= */
@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full;
  }

  .wrapper-header {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .main-heading {
    @apply font-heading text-4xl font-bold mb-4 md:text-6xl md:mb-8;
  }

  .button-yellow-outline {
    @apply text-white px-4 py-1.5 border-2 border-yellow-300 rounded-lg hover:bg-red-700 transition-colors duration-300;
  }

  .background {
    @apply absolute inset-0 h-full w-full bg-white bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-lg;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
